#presentacion{

}

.columna-1{

}

.imagen-portada{
  width: 100%;
}

.portada-titulo{
  margin: 5% 5%;
  margin-left: 1%;
}

.portada-titulo h1{
  font-size: 3.2rem;
  font-weight: 700;
  font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  }

  .portada-subtitulo{
    margin-left: 1%;
  }


.pajarito{
font-size: 35px;
color: rgb(29,155,240);
padding: 5px 0 0 10px;
}

.columna-2{
  margin-top: 25px;
  margin-bottom: 20px;
}

.portada-botones button{
  padding: 1% 5%;
  border-radius:.3rem;
  margin-left: 1%;
  margin-top: 5%;
}

.portada-botones i{
  color: #FFEA11;
}
